@import '../../styles/variables.scss';
@import '../../styles/animations.scss';
.header {
    height: 80vh;
    background-image: linear-gradient(to right bottom, rgba($header-backgorund, 0.8), rgba($header-backgorund-dark, 0.8)), url('../../../static/background.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;

    &__image {
        width: 200px;
        height: 200px;
        background-color: $image-background;
        border: 1px solid $color-text;
        margin-bottom: 1rem;
        border-radius: 50%;
        display: flex;
        align-items: flex-end;
        justify-content: center;

        animation-name: moveInBottom;
        animation-duration: 1s;
        animation-timing-function: ease-out;
    }
}

.title {
    font-size: 2.5rem;
    color: $color-text;
    text-align: center;
    margin-bottom: 0;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

.subtitle {
    font-size: 1.5rem;
    color: $color-text;
    text-align: center;
    font-weight: 300;
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

.user-icon {
    font-size: 150px;
}